doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1, shrink-to-fit=no")
    // via https://stackoverflow.com/questions/12978254/twitter-bootstrap-datepicker-within-modal-window
    style(type="text/css").
      .datepicker{z-index:1151 !important;}
    // via https://stackoverflow.com/questions/11899870/bootstrap-in-a-modal-dialog-how-do-i-make-the-dropdown-menu-expand-outside-the
    style(type="text/css").
      .modal { overflow: visible; }
    style(type="text/css").
      .modal-body { overflow-y: visible; }
    //
    link(rel="stylesheet", href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css')
    

  body
    div.container
      #notificationModal.modal(tabindex="-1",role="dialog",aria-labelledby="Notification Modal",aria-hidden="true")
        .modal-dialog.modal-dialog-centered.modal-lg(role="document")
          .modal-content
            .modal-header
              h5.modal-title#notificationModalTitle
              button.close(type="button",data-dismiss="modal",aria-label="Close")
                span(aria-hiden="true")
                 | &times;
            .modal-body.m-2.p-2
              #notificationModalContent
              #transactionInfoModalContent
                #Name.m-2.p-2(style="display:inline")
                 | Name:
                input(type="text",placeholder="Name",style="display:inline").m-2.p-2#nameField
                #Date.m-2.p-2(style="display:inline")
                 | Date:
                input(type="text",placeholder="Date",id="transactionInfoModalDatepicker",style="display:inline").m-2.p-2.datepicker
                #Account.m-2.p-2
                  span
                    | Account:
                  .dropdown(style="display:inline")
                    button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button")
                     | Pick Account
                    .dropdown-menu
                #BookingType.m-2.p-2
                 | Booking Type:
                #TotalAmount.m-2.p-2
                 | Total Amount:
                #TargetAccount.m-2.p-2
                  | Target Account:
                  .dropdown(style="display:inline")
                    button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button")
                     | Pick Account
                    .dropdown-menu
                #amount1.amountDiv
                  input(type="text",placeholder="Amount").m-2.p-2.amount
                  .dropdown(style="display:inline")
                    button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="categoryDropdown")
                     | Pick Category
                    .dropdown-menu
                  input(type="text",placeholder="Comment",style="display:inline").m-2.p-2.comment
                #amount2.amountDiv
                  input(type="text",placeholder="Amount 2").m-2.p-2.amount
                  .dropdown(style="display:inline")
                    button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="categoryDropdown")
                     | Pick Category
                    .dropdown-menu
                  input(type="text",placeholder="Comment 2",style="display:inline").m-2.p-2.comment
                #amount3.amountDiv
                  input(type="text",placeholder="Amount 3").m-2.p-2.amount
                  .dropdown(style="display:inline")
                    button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="categoryDropdown")
                     | Pick Category
                    .dropdown-menu
                  input(type="text",placeholder="Comment 3",style="display:inline").m-2.p-2.comment
                #amount4.amountDiv
                  input(type="text",placeholder="Amount 4").m-2.p-2.amount
                  .dropdown(style="display:inline")
                    button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="categoryDropdown")
                     | Pick Category
                    .dropdown-menu
                  input(type="text",placeholder="Comment 4",style="display:inline").m-2.p-2.comment
                button(type="button",class="btn btn-primary",id="addAmount").m-2.p-2
                 | +
                button(type="button",class="btn btn-primary",id="updateButton",style="display:block").m-2.p-2
                 | Update
              #categoryInfoModalContent
                #categoryInfoTransactions
                table.table.table-striped.table-responsive.m-2.p-2
                  thead
                    th Name
                    th Date
                    th Booked
                    th Account
                    th Amount
                  tbody
            #notificationModalBottomText.m-2.p-2
      h1= title
      h3
        #selectedMonthYear
        button(type="button",class="btn btn-primary",id="monthUp")
          | +
        button(type="button",class="btn btn-primary",id="monthDown")
          | -
      button(type="button",class="btn btn-primary",id="buttonShowAccounts")
        | Show Accounts
      block accounts
        #accountOverview(style="display:none").m-2.p-2
          button(type="button",class="btn btn-primary",id="buttonAddAccount")
            | Add Account
          #accountsAdd(style="display:none")
            input(type="text",placeholder="Name",id="addAccountName").m-2.p-2
            button(type="button",class="btn btn-primary",id="buttonSaveAddAccount").m-2.p-2
              | Add
            button(type="button",class="btn btn-primary",id="buttonCancelAddAccount").m-2.p-2
              | Cancel
          #accountsModify(style="display:none")
            input(type="text",placeholder="Name",id="modifyAccountName").m-2.p-2
            button(type="button",class="btn btn-primary",id="buttonSaveModifyAccount").m-2.p-2
              | Save
            button(type="button",class="btn btn-primary",id="buttonCancelModifyAccount").m-2.p-2
              | Cancel
          table.table-dark.my-2.flex.table-striped.table-bordered.mx-auto.p-auto(width="100%",cellspacing="0",cellpadding="0")
            thead
              tr.w-auto.pauto
                th Name
                th Current Balance
                th Balance including unbooked transactions
                th 
                th 
            tbody
      block navigation
        #navigation.my-4
          div(class="btn-group",role="group")
            button(type="button",class="btn btn-primary",id="DisplayDB")
              | Show DB
            button(type="button",class="btn btn-primary",id="DisplayAdd")
              | Add Transaction
            button(type="button",class="btn btn-primary",id="DisplayCategories")
              | Categories
      block content
        #databaseView(style="display:none")
          #transactionList
            h2 Transaction List
            table.table.my-2.flex.table-striped.table-bordered.mx-auto.p-auto(width="100%",cellspacing="0",cellpadding="0")
              thead
                th Amount
                th Date
                th Account
                th Name
                th Booked?
                th Delete?
              tbody
          // /TRANSACTION LIST
          // ADD TRANSACTION
        #addTransactionView(style="display:none")
          h2.my-2
           | Add Transaction
          #addTransaction
            .dropdown
              button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button")
               | Booking Type
              .dropdown-menu
                a.dropdown-item.dropdown-item-paymentTypeSelection(href="#")
                 | Payment
                a.dropdown-item.dropdown-item-paymentTypeSelection(href="#")
                 | Income
                a.dropdown-item.dropdown-item-paymentTypeSelection(href="#")
                 | Transfer
                a.dropdown-item.dropdown-item-paymentTypeSelection(href="#")
                 | Correction
            #general(style="display:none")
              input(type="text",placeholder="Date",id="datepicker").m-2.p-2.datepicker
              .dropdown
                button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="inputAccount").inputAccount
                 | Account
                .dropdown-menu
            #payment(style="display:none")
              input(type="text",placeholder="Name",id="inputNamePayment",style="display:block").m-2.p-2.inputName
              #paymentDiv1
                input(type="text",placeholder="Amount",id="inputAmount1").inputAmount.m-2.p-2
                .dropdown(style="display:inline")
                  button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="inputCategoryPayment1Button").category1Button
                   | Pick Category
                  .dropdown-menu
                input(type="text",placeholder="Comment",id="inputCommentPayment").m-2.p-2.inputComment
                button.btn.btn-info.m-2.p-2#addAnotherAmountPaymentTransactionButton
                 | +
              #paymentDiv2(style="display:none")
                input(type="text",placeholder="Amount 2",id="inputAmount2").m-2.p-2.inputAmount(style="display:none")
                .dropdown(style="display:none")
                  button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="inputCategoryPayment2Button")
                   | Pick Category 2
                  .dropdown-menu
                input(type="text",placeholder="Comment",id="inputCommentPayment2").m-2.p-2.inputComment(style="display:none")
                button.btn.btn-info.m-2.p-2#addAnotherAmountPaymentTransactionButton
                 | +
              #paymentDiv3(style="display:none")
                input(type="text",placeholder="Amount 3",id="inputAmount3").m-2.p-2.inputAmount(style="display:none")
                .dropdown(style="display:none")
                  button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="inputCategoryPayment3Button")
                   | Pick Category 3
                  .dropdown-menu
                input(type="text",placeholder="Comment",id="inputCommentPayment3").m-2.p-2.inputComment(style="display:none")
                button.btn.btn-info.m-2.p-2#addAnotherAmountPaymentTransactionButton
                 | +
              #paymentDiv4(style="display:none")
                input(type="text",placeholder="Amount 4",id="inputAmount4").m-2.p-2.inputAmount(style="display:none")
                .dropdown(style="display:none")
                  button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="inputCategoryPayment4Button")
                   | Pick Category 4
                  .dropdown-menu
                input(type="text",placeholder="Comment",id="inputCommentPayment4").m-2.p-2.inputComment(style="display:none")
              #summedAmounts.m-2.p-2
              button(type="test",class="btn btn-success m-2 p-2 insertTransactionButtonToggleBooked")
               | Booked
            #income(style="display:none")
              input(type="text",placeholder="Name",id="inputNameIncome").m-2.p-2.inputName
              input(type="text",placeholder="Amount 1",id="inputAmount1",class="m-2 p-2").inputAmount
              .dropdown
                button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="inputCategoryIncomeButton").category1Button
                 | Pick Category (optional)
                .dropdown-menu
              button(type="test",class="btn btn-success m-2 p-2 insertTransactionButtonToggleBooked")
               | Booked
            #transfer(style="display:none")
              .dropdown
                button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="targetAccount").targetAccount
                 | Target Account
                .dropdown-menu
              input(type="text",placeholder="Amount",id="inputAmount1",class="m-2 p-2").inputAmount
              button(type="test",class="btn btn-success m-2 p-2 insertTransactionButtonToggleBooked")
               | Booked
            #correction(style="display:none")
              input(type="text",placeholder="Target Amount",id="inputAmount1",class="m-2 p-2").inputAmount
              .dropdown
                button.btn.btn-secondary.dropdown-toggle.m-2.p-2(data-toggle="dropdown",type="button",id="inputCategoryCorrectionButton").category1Button
                 | Pick Category (optional)
                .dropdown-menu
          button(type="button",class="btn btn-dark m-2 p-2",id="addTransactionButton")
           | Add Transaction
        #categoriesView.my-4(style="display:none")
          #categoryDatabaseView
            table.table.my-2.flex.table-bordered.mx-auto.p-auto(width="100%",cellspacing="0",cellpadding="0")
              thead
                th Name
                th Saved
                th Allocated (
                  a(href="#",id="categoryTableResetAllocations") reset
                  | )
                th Changes this month
                th Total
                th Modify?
                th Delete?
              tbody
          #categoryUnallocatedMoney.m-2
          #categoryToBeAllocatedMoney.m-2
          #modifyDatabaseEntryCategory.my-4(style="display:none")
            #modifyCategoryID(style="display:none")
            h4 Change Category
            p 
              | Name: 
              input(type="text",id="changeCategoryName").m-2   
              button(type="button",class="btn btn-dark",id="changeCategoryButton").m-2
                | Save Changes
              button(type="button",class="btn btn-dark",id="cancelChangeCategoryButton").m-2
                | Cancel
          button(type="button",class="btn btn-dark",id="addCategoryButton").m-2
            | Add Category
          button(type="button",class="btn btn-info",id="autofillAllocationButton").m-2
            | Auto-Fill Allocations from last month
          #addCategory.my-4(style="display:none")
            h4 Add Category
            p
              input(type="text",placeholder="Category Name",id="inputCategoryName").mx-2
            p
              button(type="button",class="btn btn-dark",id="addCategoryButtonAdd").mx-2
               | Add
              button(type="button",class="btn btn-dark",id="addCategoryButtonCancel").mx-2
               | Cancel


    script(src='https://code.jquery.com/jquery-3.3.1.js') 
    // Dont use the slim version here, this will cause calls to fail.
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.bundle.min.js')
    script(src='https://code.jquery.com/ui/1.12.0/jquery-ui.min.js')
    script(src='https://unpkg.com/mathjs@5.2.2/dist/math.min.js')
    script(src='javascripts/global.js')
  
